@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #c11818;
    overflow: hidden;
}

.logo-img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.logo-text {
    color: black;
    font-size: 45px;
    font-family: 'Titillium Web', sans-serif;
}

.logo-text:hover {
    color: white;
}

a:hover {
    color: #c11818;
}

.nav-link, .navbar-brand {
    color: white;
    font-size: 25px;
}

.nav-link {
    margin-right: 0.5em;
    font-family: 'Titillium Web', sans-serif;
}

.nav-link:hover {
    color: black;
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.dropdown:hover .dropbtn {
  background-color: inherit;
  color: black;
}

.dropbtn:hover {
    display: block;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: black;
  color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  background-color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-right: 0;
  margin-left: 0;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.title-refugee {
    font-family: 'Titillium Web', sans-serif;
    color: red;
    font-size: 70px;
    margin-left: 50px;
}

.fa-linkedin {
    font-size: 60px;
    position: absolute;
    left: 43%;
    color: red;
}

.fa-linkedin:hover {
    color: black;
}

.fa-instagram {
    font-size: 60px;
    position: absolute;
    left: 48%;
    color: red;
}

.fa-instagram:hover {
    color: black;
}

.fa-facebook-square {
    font-size: 60px;
    position: absolute;
    left: 53%;
    color: red;
}

.fa-facebook-square:hover {
    color: black;
}

.fa-github {
    font-size: 60px;
    position: absolute;
    left: 58%;
    color: red;
}

.fa-github:hover {
    color: black;
}
